[defaults]
INVENTORY = inventory
roles_path = ./roles
vault_password_file = .vault_pass.txt
#private_key_file=~/.ssh/homeserver.pem

host_key_checking = False

deprecation_warnings = False

# For Vagrant testing use: ansible-playbook -i inventory.vagrant playbook.yml

[ssh_connections]
pipelining = true
